{% extends "base/base.html" %}


{% block content %}
<body id="body">

    {% include "base/header.html" %}

    {% include "homepage/menu.html" %}

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">Shop</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">shop</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="products section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="widget product-category">
						<h4 class="widget-title">Categories</h4>
						<div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
							
							{% for category in categories %}
							{% if not category.parent %}
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									  <h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										{{ category.title }}
										</a>
									  </h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<ul>
											{% for children in category.children.all %}
											<li><a href="#!">{{ children.title }}</a></li>
											{% endfor %}
										
										</ul>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}

						</div>
						
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
					
				{% for product in products %}
				
				<div class="col-md-4">
					<div class="product-item">
						<div class="product-thumb">
							<span class="bage">Sale</span>
							{% for image in product.images.all %}
							<img class="img-responsive" src="{{ image.image.url }}" alt="product-img">
							{% endfor %}

							<div class="preview-meta">
								<ul>
									<li>
										<span data-toggle="modal" data-target="#product-modal">
											<i class="tf-ion-ios-search-strong"></i>
										</span>
									</li>
									<li>
										<a href="#!"><i class="tf-ion-ios-heart"></i></a>
									</li>
									<li>
										<a href="#!"><i class="tf-ion-android-cart"></i></a>
									</li>
								</ul>
							  </div>
						</div>
						<div class="product-content">
							<h4><a href="product-single.html">{{ product.title }}</a></h4>
							<p class="price">$ {{ product.price }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			
			<!-- Modal -->
			<div class="modal product-modal fade" id="product-modal">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				  <div class="modal-dialog " role="document">
					<div class="modal-content">
						  <div class="modal-body">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="modal-image">
										<img class="img-responsive" src="images/shop/products/modal-product.jpg" alt="product-img">
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="product-short-details">
										<h2 class="product-title">GM Pendant, Basalt Grey</h2>
										<p class="product-price">$200</p>
										<p class="product-short-description">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
										</p>
										<a href="cart.html" class="btn btn-main">Add To Cart</a>
										<a href="product-single.html" class="btn btn-transparent">View Product Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				  </div>
			</div><!-- /.modal -->
	
					</div>				
				</div>
			
			</div>
		</div>
	</section>


	{% include "base/footer.html" %}

    <!-- 
    Essential Scripts
    =====================================-->

{% endblock content %}
