<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="#!">
						<img src="{{ category_1.image.url }}" alt="" />
						<div class="content">
							<h3>{{ category_1.title }}</h3>
							<p>{{ category_1.male_description }}</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="#!">
						<img src="{{ category_2.image.url }}" alt="" />
						<div class="content">
							<h3>{{ category_2.title }}</h3>
							<p>{{ category_2.male_description }}</p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="#!">
						<img src="{{ category_3.image.url }}" alt="" />
						<div class="content">
							<h3>{{ category_3.title }}</h3>
							<p>{{ category_3.male_description }}</p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>